<div class="modal fade" id="new_energy_price_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">GIÁ BÁN LẺ ĐIỆN SINH HOẠT BẬC THANG</h4>
      </div>
      <div class="modal-body">
        <p>Biểu giá bán điện theo Quyết định số 4495/QĐ-BCT ngày 30/11/2017 của Bộ Công Thương. Giá bán điện cụ thể áp dụng từ ngày 01/12/2017 được quy định như sau. <a href="https://pcdanang.cpc.vn/tabid/54/TopicId/160/ItemId/4227/Default.aspx">Chi tiết...</a></p>
        <p>
          <table class="table table-bordered">
            <thead>
              <tr style="height: 17pt">
                <td style="border-bottom: black 1pt solid; border-left: windowtext 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 10.72%; padding-right: 5.4pt; height: 17pt; border-top: windowtext 1pt solid; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="10%" nowrap="nowrap">
                  <div align="center"><strong><span style="font-size: 11pt"><font size="2">TT</font></span></strong></div>
                </td>
                <td style="border-bottom: black 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 59%; padding-right: 5.4pt; height: 17pt; border-top: windowtext 1pt solid; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="59%" nowrap="nowrap">
                  <div align="center"><strong><span style="font-size: 11pt"><font size="2">Mức sử dụng của một hộ gia đình trong tháng</font></span></strong></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 15.78%; padding-right: 5.4pt; height: 17pt; border-top: windowtext 1pt solid; border-right: windowtext 1pt solid; padding-top: 0cm"
                    valign="top" width="15%">
                  <div align="center"><strong><span style="font-size: 11pt"><font size="2">Giá cũ</font></span></strong></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 14.5%; padding-right: 5.4pt; height: 17pt; border-top: windowtext 1pt solid; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="14%" nowrap="nowrap">
                  <div align="center"><strong><span style="font-size: 11pt"><font size="2">Giá mới</font></span></strong></div>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr style="height: 17pt">
                <td style="border-bottom: windowtext 1pt solid; border-left: windowtext 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 10.72%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    valign="bottom" width="10%" nowrap="nowrap">
                  <div align="center"><span style="font-size: 11pt"><font size="2">1</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 59%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="59%" nowrap="nowrap">
                  <div><span style="font-size: 11pt"><font size="2">Bậc 1: Cho kWh từ&nbsp;0 – 50</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 15.78%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="15%">
                  <div align="center"><span style="font-size: 11pt"><font size="2">1.484</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 14.5%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="14%" nowrap="nowrap">
                  <div align="center"><strong><span style="font-size: 11pt"><font size="2">1.549</font></span></strong></div>
                </td>
              </tr>
              <tr style="height: 17pt">
                <td style="border-bottom: windowtext 1pt solid; border-left: windowtext 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 10.72%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    valign="bottom" width="10%" nowrap="nowrap">
                  <div align="center"><span style="font-size: 11pt"><font size="2">2</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 59%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="59%" nowrap="nowrap">
                  <div><span style="font-size: 11pt"><font size="2">Bậc 2: Cho kWh từ 51 – 100</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 15.78%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="15%">
                  <div align="center"><span style="font-size: 11pt"><font size="2">1.533</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 14.5%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="14%" nowrap="nowrap">
                  <div align="center"><strong><span style="font-size: 11pt"><font size="2">1.600</font></span></strong></div>
                </td>
              </tr>
              <tr style="height: 17pt">
                <td style="border-bottom: windowtext 1pt solid; border-left: windowtext 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 10.72%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    valign="bottom" width="10%" nowrap="nowrap">
                  <div align="center"><span style="font-size: 11pt"><font size="2">3</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 59%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="59%" nowrap="nowrap">
                  <div><span style="font-size: 11pt"><font size="2">Bậc 3: Cho kWh từ 101 – 200</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 15.78%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="15%">
                  <div align="center"><span style="font-size: 11pt"><font size="2">1.786</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 14.5%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="14%" nowrap="nowrap">
                  <div align="center"><strong><span style="font-size: 11pt"><font size="2">1.858</font></span></strong></div>
                </td>
              </tr>
              <tr style="height: 17pt">
                <td style="border-bottom: windowtext 1pt solid; border-left: windowtext 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 10.72%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    valign="bottom" width="10%" nowrap="nowrap">
                  <div align="center"><span style="font-size: 11pt"><font size="2">4</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 59%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="59%" nowrap="nowrap">
                  <div><span style="font-size: 11pt"><font size="2">Bậc 4: Cho kWh từ 201 – 300</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 15.78%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="15%">
                  <div align="center"><span style="font-size: 11pt"><font size="2">2.242</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 14.5%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="14%" nowrap="nowrap">
                  <div align="center"><strong><span style="font-size: 11pt"><font size="2">2.340</font></span></strong></div>
                </td>
              </tr>
              <tr style="height: 17pt">
                <td style="border-bottom: windowtext 1pt solid; border-left: windowtext 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 10.72%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    valign="bottom" width="10%" nowrap="nowrap">
                  <div align="center"><span style="font-size: 11pt"><font size="2">5</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 59%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    valign="bottom" width="59%" nowrap="nowrap">
                  <div><span style="font-size: 11pt"><font size="2">Bậc 5: Cho kWh từ 301 – 400</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 15.78%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="15%">
                  <div align="center"><span style="font-size: 11pt"><font size="2">2.503</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 14.5%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="14%" nowrap="nowrap">
                  <div align="center"><strong><span style="font-size: 11pt"><font size="2">2.615</font></span></strong></div>
                </td>
              </tr>
              <tr style="height: 17pt">
                <td style="border-bottom: windowtext 1pt solid; border-left: windowtext 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 10.72%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    valign="bottom" width="10%" nowrap="nowrap">
                  <div align="center"><span style="font-size: 11pt"><font size="2">6</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 59%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    valign="bottom" width="59%" nowrap="nowrap">
                  <div><span style="font-size: 11pt"><font size="2">Bậc 6: Cho kWh từ 401 trở lên</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 15.78%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="15%">
                  <div align="center"><span style="font-size: 11pt"><font size="2">2.587</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 14.5%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="14%" nowrap="nowrap">
                  <div align="center"><strong><span style="font-size: 11pt"><font size="2">2.701</font></span></strong></div>
                </td>
              </tr>
              <tr style="height: 17pt">
                <td style="border-bottom: windowtext 1pt solid; border-left: windowtext 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 10.72%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    valign="bottom" width="10%" nowrap="nowrap">
                  <div align="center"><span style="font-size: 11pt"><font size="2">7</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 59%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    valign="bottom" width="59%" nowrap="nowrap">
                  <div><span style="font-size: 11pt"><font size="2">Dùng công tơ thẻ trả trước</font></span></div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 15.78%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="15%">
                  <div align="center">
                    <font size="2">2.141</font>
                  </div>
                </td>
                <td style="border-bottom: windowtext 1pt solid; border-left: #f0f0f0; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 14.5%; padding-right: 5.4pt; height: 17pt; border-top: #f0f0f0; border-right: windowtext 1pt solid; padding-top: 0cm"
                    width="14%" nowrap="nowrap">
                  <div align="center"><strong><span style="font-size: 11pt"><font size="2">2.271</font></span></strong></div>
                </td>
              </tr>
            </tbody>
          </table>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
