.section {
  padding-top: 0;
}

.heading {
  padding: 0;
  margin-bottom: 10px;
  p {
    float: left;
    float: left;
    margin-bottom: 0;
    height: 38px;
    padding: 10px 0px;
  }
}

#month-selector {
  width: 180px;
  margin-bottom: 0;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

#master-quantity {
  padding-left: 12px;
  font-weight: bold;
}

#master-costs {
  padding-right: 15%;
  font-weight: bold;
}

.table-heading {
  text-transform: uppercase;
  text-align: center;
}

.card {
  color: #555;
}

.justify-content-center {
  padding: 0px;
}
