.section {
  padding-top: 10px;
}

.heading {
  padding: 0;
  margin-bottom: 10px;
  p {
    float: left;
    float: left;
    margin-bottom: 0;
    height: 38px;
    padding: 10px 0px;
  }
  .time {
    color: #9A9A9A;
  }
  .category {
    margin-right: 15px;
  }
}

#month-selector {
  width: 180px;
  margin-bottom: 0;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

#master-quantity {
  padding-left: 12px;
  font-weight: bold;
}

#master-costs {
  padding-right: 15%;
  font-weight: bold;
}

.table-heading {
  text-transform: uppercase;
  text-align: center;
}

.card {
  color: #555;
}

.card-header {
  padding: 0px;
}

.text-middle {
  vertical-align: middle !important;
}

#reverse_meter_modal {
  .form-control {
    width: 30%;
    height: 38px;
    float: left;

    &:nth-child(3) {
      margin: 0 22px;
    }
  }

  .fomr-control-invalid {
    border: 1px solid red;
  }
}

.alert-danger {
  a {
    font-weight: bold;
    color: #fff;
  }
  .price-changes {
    margin: 0;
  }
}
